body::before {
  display: block;
  content: '';
  height: 60px;
}

#map{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

@media(min-width: 768px){
    .news-inputs{
        width: 50%;
    }
}

@media screen and (max-width: 770px) {
    .btncontainer{
        display: block;
    }
}


.carousel-item{
    height: 32rem;
    background: #777;
}

.checked {
  color: orange;
}

